$bg-color: #1f1d2b; // bg-color
$card-bg-color: #252936; // card bg color
$card-bg-hover: rgba(0, 0, 0, 0.2); // card bg hover
$text-color: #f8f9fa; // text color
$text-gray-color: #a1a1a7; // secondary text color
$link-color: #16428d; // link color
$single-post-bg-color: #292e3c;
$btn-color: #2d303e; // btn color
$btn-color-hover: #242631; // btn hover
$input-bg-color: #252836; // input bg color
$icon-color: #8f8f95;
$icon-color-hover: #52505b;

$w-bg-color: #f7f7f7;
$w-input-bg-color: lightgray;
$w-card-bg-color: #e5e5e5; // card bg color
$w-single-post-bg-color: #fff;
